@import "styles/varibles";
@import "styles/mixins";

$color-black: #000;
$color-white: #fff;

@keyframes linkHovered {
  0% {
    width: 0;
   left: 0;
   opacity: 0;
  }
  25% {
    opacity: 1;
    left: 0;
    width: 100%;
  }
  50% {
    right: 0;
    width: 100%;
    opacity: 1;
  }
  100% {
    right: 0;
    width: 0%;
    opacity: 0;
  }
}

.footer {
  position: relative;
  width: 100vw;
  height: 100vh;
  min-height: 658px;
  // height: var(--app-height);
  display: flex;
  flex-direction: column;
  padding: 27vh 20px 20px;
  transition: all .3s;

  &__trixcode {
    position: absolute;
    right: -4.5em;
    top: 80%;
    transform: rotate(90deg);
    font-size: 10px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    
    height: auto;
    width: auto;

    a {
      // transform: rotate(90deg);
      color: darkgray;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: auto;
    mix-blend-mode: difference;
    position: relative;
  }

  &__title {
    margin-bottom: 7vh;
    p {
      font-family: "Inter";
      font-size: 60px;
      font-weight: 400;
      line-height: 130%;
      letter-spacing: -0.03em;
      text-align: left;
      color: $color-white;
      text-wrap: balance;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: auto;

    &__item {
      margin-bottom: 7vh;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__title {
      margin-bottom: 10px;

      p {
        font-family: "Inter";
      font-size: 16px;
      font-weight: 400;
      line-height: 130%;
      letter-spacing: -0.03em;
      text-align: left;
      color: $color-white;
      }
    }

    a {
      width: 60%;
      font-family: "Inter-Light";
      font-size: 16px;
      font-weight: 400;
      line-height: 120%;
      letter-spacing: -0.04em;
      text-align: left;
      color: #fff;
      opacity: .7;
      position: relative;
      white-space: pre-line;
      position: relative;

      &::after {
        content: "";
        background-color: #fff;
        position: absolute;
        right: 0;
        opacity: 0;
        width: 100%;
        bottom: 0px;
        height: 1px;
        transition: all .3s;
      }
  
      &:hover {
        &::after {
         animation: linkHovered 2s infinite;
         opacity: 1;
        }
      }
    }
  }

  &__linkSocials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;


    a {
      font-family: "Inter-Light";
      font-size: 14px;
      font-weight: 400;
      line-height: 120%;
      letter-spacing: -0.04em;
      text-align: left;
      color: $color-white;
      margin-right: 21px;
      position: relative;
      &::after {
        content: "";
        background-color: #fff;
        position: absolute;
        right: 0;
        opacity: 0;
        width: 100%;
        bottom: 0px;
        height: 1px;
        transition: all .3s;
      }
  
      &:hover {
        &::after {
         animation: linkHovered 2s infinite;
         opacity: 1;
        }
      }
    }

    p {
        font-family: "Inter-Light";
        font-size: 14px;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: -0.04em;
        text-align: left;
        color: $color-white;
        position: relative;
    }
  }

  &__socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
}

@include respond-above(sm) {
  .footer {
  height: var(--app-height);
    height: 100vh;
    @media (max-height: 700px) {
      padding-top: 27vh;
    }
    
    @media (min-height: 700px) and (max-height: 812px) {
      padding-top: 31vh;
    }
    
    @media (min-height: 812px) {
      padding-top: 35vh;
    }
    padding: 0 30px 1px;
  
  
    &__title {
      margin-bottom: 7vh;
      p {
        font-size: 72px;
      }
    }
  
    &__contacts {
      &__title {
        margin-bottom: 15px;
  
        p {
          font-size: 18px;
        }
      }
  
      a {
        font-size: 18px;
      }
    }
  
    &__linkSocials {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
  
  
      a {
        font-size: 16px;
        margin-right: 24px;
      }
  
      p {
          font-size: 16px;
      }
    }
  }
}

@include respond-above(md) {
  .footer {
    @media (max-height: 768px) {
      padding-top: 27vh;
    }
    
    @media (min-height: 768px) and (max-height: 1024px) {
      padding-top: 31vh;
    }
    
    @media (min-height: 1024px) {
      padding-top: 35vh;
    }

    padding: 0 40px 35px;
  
  
    &__title {
      
      margin-bottom: 7vh;
      
    }
  
    &__contacts {

      flex-direction: row;
      justify-content: space-between;
      margin-bottom: auto;

      &__item {
        width: 50%;

        div {
          width: fit-content;
        }
      }

      &__title {
        margin-bottom: 15px;
  
        p {
          font-size: 20px;
        }
      }
  
      a {
        font-size: 20px;
      }
    }
  
    &__linkSocials {
  
  
      a {
        font-size: 18px;
        margin-right: 3vw;
      }
  
      p {
          font-size: 18px;
      }
    }
  }
}


@include respond-above(lg) {
  .footer {
    padding: 0 60px 55px;
    @media (max-height: 768px) {
      padding-top: 24vh;
    }
    
    @media (min-height: 768px) and (max-height: 1024px) {
      padding-top: 31vh;
    }
    
    @media (min-height: 1024px) {
      padding-top: 35vh;
    }
  
    &__title {
      margin-bottom: 10vh;

      p {
        font-size: 84px;
      }
    }
  
    &__contacts {
      width: 70%;
    }
  }
}

@include respond-above(mac) {
  .footer {
    &__title {

      p {
        font-size: 96px;
      }
    }
  
    &__contacts {
      width: 60%;
    }
  }
}

@include respond-above(xlg) {
  .footer {
    padding: 0 0 55px;
    @media (max-height: 768px) {
      padding-top: 24vh;
    }
    
    @media (min-height: 768px) and (max-height: 1024px) {
      padding-top: 31vh;
    }
    
    @media (min-height: 1024px) {
      padding-top: 35vh;
    }
     &__wrapper {
      margin: 0 auto;
      width: 100%;
      max-width: 1450px;
     }
  
    &__contacts {
      width: 55%;
    }
  }
}

@include respond-above(fhd) {
  .footer {
     &__wrapper {
      max-width: 1472px;
     }
  
    &__contacts {
      width: 55%;
    }
  }
}

@include respond-above(qhd) {
  .footer {
     &__wrapper {
      max-width: 1776px;
     }

     &__title {
      margin-bottom: 10vh;
      font-size: 120px;
    }
  
    &__contacts {
      width: 45%;
    }
  }
}