@import "styles/varibles";
@import "styles/mixins";

.servicesSection {
  position: relative;
  // min-height: auto;
  height: 100vh;
  // height: var(--app-height);
  @media (max-height: 700px) {
   height: 120vh;
  }
  // min-height: var(--app-height); 
  // max-height: 100vh;
  // background-color: #F5F5F5;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // justify-content: center;
    width: 100%;
    // position: sticky;
    height: 100%;
    top: 0;

    // @media (max-height: 700px) {
    //   padding-top: 15vh;
    // }
    
    // @media (min-height: 700px) and (max-height: 812px) {
    //   padding-top: 18vh;
    // }
    
    // @media (min-height: 812px) {
    //   padding-top: 20vh;
    // }
  }

  &__slider {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding-top: 5vh;
  }

  &__thumbs {
    width: 100%;
    height: 25vh;
    margin-bottom: 50px;
  }

  &__thumb {
    font-family: "Inter";
    font-size: 36px;
    font-weight: 400;
    height: 48px;
    line-height: 120%;
    letter-spacing: -0.04em;
    text-align: left;
    opacity: .1;
    transition: all .5s;
    position: relative;
    width: fit-content;

   &:hover {
    opacity: .5;
   }
  }

  &__activeThumb {
    font-family: "Inter";
    font-size: 36px;
    font-weight: 400;
    height: 48px;
    line-height: 120%;
    letter-spacing: -0.04em;
    text-align: left;
    color: #000;
    transition: all .5s;
    width: fit-content;
  }


  &__galleria {
    width: 100%;
    height: 35vh;
  }

  &__slide {
    opacity: 0;
    transition: all 2s;
  }

  &__activeSlide {
    opacity: 1;
    transition: all 2s;
    width: 60%;

    p {
      font-family: "Inter-Light";
      font-size: 14px;
      font-weight: 400;
      line-height: 115%;
      letter-spacing: -0.04em;
      text-align: left;
      margin-bottom: 15px;
    }
  }

}

@include respond-above(sm) {
  .servicesSection {
    
    height: auto;

    &__wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      height: 100vh;
    }

    &__slider {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      width: 100%;
    }

    &__thumbs {
      width: 35%;
    }

    &__thumb {
      font-family: "Inter";
      font-size: 40px;
      font-weight: 400;
      height: 60px;
      line-height: 130%;
      letter-spacing: -0.04em;
      text-align: left;
      opacity: .3;
      transition: all .5s;
    }

    &__activeThumb {
      font-family: "Inter";
      font-size: 40px;
      font-weight: 400;
      height: 60px;
      line-height: 130%;
      letter-spacing: -0.04em;
      text-align: left;
      color: #000;
      transition: all .5s;
    }


    &__galleria {
      width: 50%;
      padding-left: 95px;
    }

    &__slide {
      opacity: 0;
      transition: all 2s;
    }

    &__activeSlide {
      opacity: 1;
      transition: all 2s;

      p {
        font-family: "Inter-Light";
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -0.04em;
        text-align: left;
        margin-bottom: 15px;
      }
    }

  }
}

@include respond-above-portrait(sm) {
  .servicesSection {
    &__wrapper {
      padding-top: 0;
    }
    &__thumbs {
      width: 43%;
    }
    &__thumb {
      font-size: 48px;
      height: 64px;
    }

    &__activeThumb {
      font-size: 48px;
      height: 64px;
    }

    &__activeSlide {
      width: 100%;
      p {
        font-size: 14px;
        margin-bottom: 20px;
      }
    }


    &__galleria {
      width: 50%;
      padding-left: 100px;
      padding-top: 20px;
    }

  }
}

@include respond-above(md) {
  .servicesSection {

    &__thumb {
      font-size: 54px;
      height: 70px;
    }

    &__activeThumb {
      font-size: 54px;
      height: 70px;
    }


    &__galleria {
      padding-top: 20px;
      width: 50%;
      padding-left: 135px;
    }

  }
}

@include respond-above-portrait(md) {
  .servicesSection {

    &__wrapper {
      padding-top: 0;
    }
    &__thumbs {
      width: 43%;
    }
    &__thumb {
      font-size: 64px;
      height: 80px;
    }

    &__activeThumb {
      font-size: 64px;
      height: 80px;
    }

    &__activeSlide {
      p {
        font-size: 16px;
        margin-bottom: 20px;
      }
    }


    &__galleria {
      width: 50%;
      padding-left: 135px;
      padding-top: 20px;
    }

  }
}

@include respond-above(mac) {
  .servicesSection {

    &__wrapper {
      height: auto;
      min-height: 100vh;
      max-height: 900px;
      padding-top: 0;
    }

    &__slider {
      padding-top: 0vh;
    }

    &__thumbs {
      width: 50%;
      margin-bottom: 0;
    }

    &__thumb {
      font-size: 64px;
      height: 80px;
      line-height: 130%;
    }

    &__activeThumb {
      font-size: 64px;
      height: 80px;
      line-height: 130%;
    }


    &__galleria {
      padding-top: 30px;
      width: 45%;
      padding-left: 10px;
    }

    &__activeSlide {
      width: 35%;

      p {
        font-family: "Inter-Light";
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: -0.04em;
        text-align: left;
        margin-bottom: 16px;
      }
    }

  }

}

@include respond-above(xlg) {
  .servicesSection {
    &__wrapper {
      
      width: 100%;
      max-width: 1450px;
      margin: 0 auto;
    }
  }
}

@include respond-above(fhd) {
  .servicesSection {

    &__wrapper {
      max-width: calc(1600px - 128px);
    }

    &__galleria {
      width: 45%;
    }

    &__thumbs {
      width: 50%;
    }

    &__thumb {
      font-size: 72px;
      // height: 120px;
      line-height: 130%;
    }

    &__activeThumb {
      font-size: 72px;
      // height: 120px;
      line-height: 130%;
    }

    &__activeSlide {
      width: 60%;
      p {
        font-size: 18px;
        line-height: 130%;
        margin-bottom: 25px;
      }
    }

  }

}

@include respond-above(qhd) {
  .servicesSection {

    &__wrapper {
      max-width: calc(1920px - 144px);
    }
    &__thumb {
      font-size: 96px;
      height: 140px;
      line-height: 130%;
    }

    &__activeThumb {
      font-size: 90px;
      height: 140px;
      line-height: 130%;
    }

    &__activeSlide {
      width: 80%;

      p {
        font-size: 24px;
        line-height: 130%;
        margin-bottom: 28px;
      }
    }
  }
}

// @media screen and (min-aspect-ratio: 21/9) and (max-aspect-ratio: 100/10) {
//   .servicesSection {
//     &__wrapper {
//       padding-top: 100px;
//     }
   
//   }
// }