@import "styles/varibles";
@import "styles/mixins";

.header {
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  z-index: 999;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 20px 0 20px;
  mix-blend-mode: difference;

  &__logo {
    width: 100%;
    height: 100%;
  }

  &__burgerButton {
    position: relative;
    display: inline-block;
    mix-blend-mode: difference;

    &__wrapper {
      position: relative;
      z-index: 99;
      display: flex;
      flex-direction: row;
      align-items: center;

      span {
        color: #fff;
        padding-right: 10px;
        text-transform: uppercase;
        font-size: 10px;
        line-height: 115.5%;
        font-weight: 500;
      }
    }

    &__button {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: #fff;
      color: #fff;
      font-size: 10px;
      border: none;
      transition: background-color 0.3s ease, transform 0.3s ease;

      &:focus {
        outline: none;
      }
    }

    &__buttonClose {
      background-color: #fff;
      color: #000;
    }
  }
}

@include respond-above(xs) {
  .header {
    padding: 30px 24px 0 24px;
  }
}

@include respond-above(sm) {
  .header {
    padding: 30px 30px 0 30px;
  }
}

@include respond-above(md) {
  .header {
    padding: 35px 40px 0 40px;

    &__burgerButton {
      &__wrapper {
        span {
          padding-right: 9px;
          font-size: 11px;
        }
      }

      &__button {
        width: 23px;
        height: 23px;
      }
    }
  }
}

@include respond-above(lg) {
  .header {
    padding: 40px 48px 0 48px;

    &__burgerButton {
      &__wrapper {
        span {
          padding-right: 9px;
          font-size: 12px;
        }
      }

      &__button {
        width: 25px;
        height: 25px;
      }
    }
  }
}

@include respond-above(mac) {
  .header {
    padding: 50px 60px 0 60px;

    &__burgerButton {
      &__wrapper {
        span {
          padding-right: 11px;
          font-size: 14px;
        }
      }

      &__button {
        width: 30px;
        height: 30px;
      }
    }
  }
}

@include respond-above(xlg) {
  .header {
    padding: 50px 64px 0 64px;

    &__burgerButton {
      &__wrapper {
        span {
          font-size: 15px;
        }
      }
    }
  }
}

@include respond-above(fhd) {
  .header {
    padding: 50px 72px 0 72px;

    &__burgerButton {
      &__wrapper {
        span {
          font-size: 18px;
        }
      }
    }
  }
}

@include respond-above(qhd) {
  .header {
    padding: 50px 80px 0 80px;

    &__burgerButton {
      &__wrapper {
        span {
          padding-right: 14px;
          font-size: 24px;
        }
      }

      &__button {
        width: 36px;
        height: 36px;
        font-size: 18px;
      }
    }
  }
}