@import "styles/varibles";
@import "styles/mixins";

.simplyTypingAnimation { 
    p {
        font-family: "Inter";
        color: #fff;
        font-size: 16px;
        line-height: 120%;
        letter-spacing: -4%;
    }
}

@include respond-above(md) {
    .simplyTypingAnimation { 
        p {
            font-size: 20px;
        }
    }
}