// Basic colors
$white: #ffffff;
$black: #000000;

// Container
$container: 20px;
$containerXS: 24px;
$containerSM: 30px;
$containerMD: 40px;
$containerLG: 48px;
$containerMAC: 60px;
$containerXLG: 64px;
$containerFHD: 72px;
$containerQHD: 80px;

// Named colors
$defaultTextColor: $black;
$highlightTextColor: $black;
$selectionTextColor: $black;
$defaultLinkColor: $black;
$activeLinkColor: $black;
$backgroundColor: $white;
